<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="davidfdez.capteuratmospherique">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SignInActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".LiveCharts"
            android:label="@string/LiveCharts" />
        <activity
            android:name=".ChartsActivity"
            android:label="@string/Charts" />
        <activity
            android:name=".HeatmapActivity"
            android:label="@string/Heatmaps" />
        <activity
            android:name=".SettingsActivity"
            android:label="@string/Settings" />
        <activity
            android:name=".AboutUsActivity"
            android:label="@string/aboutUsActivity" />
        <activity
            android:name=".SelectLineChartActivity"
            android:label="@string/Charts" />
        <activity
            android:name=".ShowLineChartActivity"
            android:label="@string/Charts" />

        <service android:name=".BluetoothService" />

        <activity android:name=".ClusteringActivity" />
        <activity android:name=".CalendarActivity" />
        <activity android:name=".SelectHistogramActivity" />
        <activity android:name=".ShowHistogramActivity" />
        <activity android:name=".SignUpActivity"></activity>
    </application>

</manifest>